/* Подключение шрифтов */
@font-face {
    font-family: 'Avenir';
    src: url(../fonts/Avenir.eot);
    src: url(../fonts/Avenir?#iefix) format("embedded-opentype"),
        url(../fonts/Avenir.woff2) format("woff2"),
        url(../fonts/Avenir.woff) format("woff"),
        url(../fonts/Avenir.ttf) format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: 'Roboto-Regular';
    src: url(../fonts/Roboto-Regular.eot);
    src: url(../fonts/Roboto-Regular?#iefix) format("embedded-opentype"),
        url(../fonts/Roboto-Regular.woff2) format("woff2"),
        url(../fonts/Roboto-Regular.woff) format("woff"),
        url(../fonts/Roboto-Regular.ttf) format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: 'Ubuntu-Medium';
    src: url(../fonts/Ubuntu-Medium.eot);
    src: url(../fonts/Ubuntu-Medium?#iefix) format("embedded-opentype"),
        url(../fonts/Ubuntu-Medium.woff2) format("woff2"),
        url(../fonts/Ubuntu-Medium.woff) format("woff"),
        url(../fonts/Ubuntu-Medium.ttf) format("truetype");
    font-weight: 500;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: 'Inter-Bold';
    src: url(../fonts/Inter-Bold.eot);
    src: url(../fonts/Inter-Bold?#iefix) format("embedded-opentype"),
        /* url(../fonts/Inter-Bold.woff2) format("woff2"), */
        url(../fonts/Inter-Bold.woff) format("woff"),
        url(../fonts/Inter-Bold.ttf) format("truetype");
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: 'Inter-Medium';
    src: url(../fonts/Inter-Medium.eot);
    src: url(../fonts/Inter-Medium?#iefix) format("embedded-opentype"),
        /* url(../fonts/Inter-Medium.woff2) format("woff2"), */
        url(../fonts/Inter-Medium.woff) format("woff"),
        url(../fonts/Inter-Medium.ttf) format("truetype");
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: 'Inter-Regular';
    src: url(../fonts/Inter-Regular.eot);
    src: url(../fonts/Inter-Regular?#iefix) format("embedded-opentype"),
        /* url(../fonts/Inter-Regular.woff2) format("woff2"), */
        url(../fonts/Inter-Regular.woff) format("woff"),
        url(../fonts/Inter-Regular.ttf) format("truetype");
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: 'Inter-SemiBold';
    src: url(../fonts/Inter-SemiBold.eot);
    src: url(../fonts/Inter-SemiBold?#iefix) format("embedded-opentype"),
        /* url(../fonts/Inter-SemiBold.woff2) format("woff2"), */
        url(../fonts/Inter-SemiBold.woff) format("woff"),
        url(../fonts/Inter-SemiBold.ttf) format("truetype");
    font-style: normal;
    font-display: swap
}

/*---------------------------------------------------------------*/


/* Базовые стили */

.btn__style {
    display: flex;
    padding: 14px 54px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 8px;
    background: linear-gradient(94deg, #FFDA2C -0.17%, #F4AD23 99.83%);
    color: #1B1B1B;
    font-family: 'Inter-SemiBold', sans-serif;
    font-size: 18px;
    font-weight: 600;
    line-height: 150%;
    text-transform: uppercase;
    width: max-content;
    box-sizing: border-box;
    transition: all 0.5s;
}

.tittle {
    color: #1B1B1B;
    font-family: 'Inter-Bold', sans-serif;
    font-size: 40px;
    font-weight: 700;
    line-height: 120%;
}

body {
    background: #F5F5F5;
    font-family: 'Inter-Regular', sans-serif;
    color: #1B1B1B;
    overflow-x: hidden;
}

.wrapper {
    max-width: 1279px;
    margin: 0 auto;
    display: flex;
}

main {
    overflow: hidden;
}

/* Стилизация полосы прокрутки */
::-webkit-scrollbar {
    width: 8px;
}

/* Стилизация трека скроллбара */
::-webkit-scrollbar-track {
    background: transparent;
}

/* Стилизация полосы прокрутки */
::-webkit-scrollbar-thumb {
    background: #FFDA2C;
    border-radius: 5px;
}

.moving-gradient {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    fill: #FFF72B;
    filter: blur(125px);
    animation: moveGradient 10s linear infinite alternate;
}

.moving-gradien2 {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    fill: linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%), linear-gradient(63deg, #FFC75B 162.46%, #FFF3DB 183.75%, #FFEDC9 225.36%);
    filter: blur(125px);
    animation: moveGradient2 10s linear infinite alternate;
}

@keyframes moveGradient {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(-100%);
    }
}

@keyframes moveGradient2 {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(100%);
    }
}


/*---------------------------------------------------------------*/


/* Бургер меню */
.burger-menu {
    display: none;
}

.burger-menu.open {
    display: flex;
}

.burger-icon {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    width: 48px;
    height: 48px;
    box-sizing: border-box;
    padding: 12px;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    background: #FDE614;
    position: relative;
    z-index: 101;
}

.bar {
    background: black;
    width: 18px;
    height: 1px !important;
    margin: 2px 0 !important;
}

.burger-menu {
    transform: translateY(-150vh);
    position: absolute;
    width: 100%;
    overflow: hidden;
    z-index: 100;
    height: 100vh;
    background: yellow;
    transition: all 0.5s;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.burger-menu.open {
    transform: translateY(0px);
    transition: all 0.5s;
}

.burger-icon.open .bar:nth-child(2) {
    transform: scaleX(0);
    /* Скрываем средний бар для анимации крестика */
}

.burger-icon.open .bar:first-child {
    transform: translateY(3px) rotate(45deg);
    /* Первый бар крестика */
}

.burger-icon.open .bar:last-child {
    transform: translateY(-7px) rotate(-45deg);
    /* Последний бар крестика */
}

.burger-icon.open {
    background: #F7BB6F;
    transition: all 0.5s;
}

.body.open {
    overflow: hidden;
}

/*---------------------------------------------------------------*/


/* Шапка сайта */
.header {
    display: flex;
    width: 100vw;
    height: 82px;
    padding: 0px 64px;
    justify-content: center;
    align-items: center;
    background: #FFF;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    box-sizing: border-box;
}

.header__wrapper {
    max-width: 1792px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__wrapper nav ul {
    display: flex;
    align-items: center;
    gap: 32px;
}

.header__wrapper nav {
    margin-left: 6%;
}

.header__wrapper nav ul li a {
    color: #1B1B1B;
    font-size: 18px;
    font-weight: 400;
    line-height: 150%;
}

.burger-icon {
    display: none;
}

.header__btn {
    padding-left: 30px;
    padding-right: 30px;
}

/*---------------------------------------------------------------*/


/* Hero */
.hero {
    position: relative;
    padding-top: 249px;
    padding-bottom: 112px;
}

.hero .wrapper {
    width: 100%;
    justify-content: space-between;
    display: flex;
    align-items: center;
    gap: 80px;
    position: relative;
    z-index: 2;
}

.hero__money {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 3;
}

.hero__money img {
    display: none;
}

.hero__tittle {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex: 1 0 0;
    width: 600px;
    max-width: 600px;
}

.hero__tittle h1 {
    font-size: 56px;
    font-weight: 700;
    line-height: 120%;
    margin-bottom: 24px;
}

.hero__tittle p {
    font-size: 22px;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 44px;
}

.hero__img {
    position: relative;
    padding: 0 67px 0 0;
}

.hero__money1 {
    width: 219px;
    height: 155px;
}

.hero__img figure {
    width: 400.388px;
    height: 528px;
}

.hero__img figure img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.hero__money2 {
    left: -46%;
    position: absolute;
    bottom: 14px;
    z-index: 3;
}

.hero__money4 {
    position: absolute;
    left: 12%;
    position: absolute;
    bottom: 81px;
    z-index: 3;
}

.hero__money3 {
    position: absolute;
    bottom: 14px;
    right: -29%;
    z-index: 3;
}

.hero__money1 {
    width: 129.681px;
    height: 100.753px;
    position: absolute;
    left: -32%;
    top: 49px;
    z-index: 3;
}

.hero__money5 {
    position: absolute;
    top: -24px;
    right: 10%;
    z-index: 3;
}

.hero__img-eclipse {
    position: absolute;
    bottom: -30px;
    left: -20px;
    z-index: 3;
}

/*---------------------------------------------------------------*/


/* Як отримати «Кредит готівкою» від BeeCredit? */
.get {
    padding: 170px 64px 112px 64px;
    position: relative;
    z-index: 3;
}

.get .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 80px;
}

.get__box {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: flex-start;
    gap: 18px;
    flex-wrap: wrap;
}

.get__box article {
    display: flex;
    min-height: 510px;
    padding: 40px 20px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    flex: 1 0 0;
    border-radius: 20px;
    background: radial-gradient(1160.17% 88.24% at 53.82% 21.33%, #FFDA2C 0%, #F4AD23 100%);
}

.get__box article h3 {
    color: #1B1B1B;
    text-align: center;
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: 130%;
    text-align: center;
}

.article {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.in-view {
    opacity: 1;
}

/*---------------------------------------------------------------*/


/* Кредитний калькулятор */
.calculator {
    padding: 112px 0;
    position: relative;
}

.calculator .wrapper {
    flex-direction: column;
    gap: 116px;
    position: relative;
    z-index: 3;
}

.calculator .tittle {
    width: 100%;
    text-align: center;
}

.calculator__content {
    display: none;
}

.calculator__content.active {
    display: flex;
}

.calculator__box {
    border-radius: 20px;
    background: #FFF;
    overflow: hidden;
}

.calculator__tabs {
    display: flex;
    align-items: center;
    border-bottom: 2px solid #7B7B7B;
}

.calculator__tab {
    width: 50%;
    color: #727272;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 116px;
    font-size: 28px;
    font-weight: 400;
    line-height: 120%;
    background: #D9D9D9;
    cursor: pointer;
}

.calculator__tab.active {
    background: #FFF;
}

.calculator__tab.active span {
    color: #1B1B1B;
}

.calculator__tab span {
    color: #727272;
    font-weight: 700;
}

.calculator__content {
    padding: 72px 60px 96px 60px;
    gap: 10px 22px;
    background: #fff;
    position: relative;
}

.calculator__column form {
    background: #F5F5F5;
    padding: 30px 20px;
    width: 410px;
    height: 334px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.calculator__column form label {
    font-size: 14px;
    font-weight: 400;
    line-height: 120%;
    margin-bottom: 14px;
}

.calculator__column form span {
    font-size: 28px;
    font-weight: 700;
    line-height: 120%;
    margin-bottom: 10px;
}

.calculator__column {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.calculator__column h3 {
    font-size: 20px;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}

.calculator__container {
    padding: 40px;
    box-sizing: border-box;
    background: #F5F5F5;
}

.calculator__container p {
    color: #7B7B7B;
    font-size: 18px;
    font-weight: 500;
    line-height: 120%;
    margin-bottom: 11px;
}

.calculator__container p.calculator__container-text {
    font-size: 14px;
    font-style: italic;
    font-weight: 400;
    line-height: 120%;
    margin-top: 5px;
    margin-bottom: 16px;
}

.calculator__container span {
    font-size: 22px;
    font-weight: 700;
    line-height: 120%;
    margin-bottom: 16px;
    display: block;
}

.calculator__row {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 17px;
}

.calculator__row:nth-last-of-type(1) {
    margin-bottom: 0;
}

.calculator__row p {
    width: 77%;
    margin-bottom: 0;
}

.calculator__row span {
    margin-bottom: 0;
}

.padding {
    padding-bottom: 24px;
}

.padding2 {
    padding-bottom: 30px;
}

.calculator__container p.calculator__container-bottom {
    color: #7B7B7B;
    font-size: 14px;
    font-style: italic;
    font-weight: 400;
    line-height: 120%;
    margin-top: 16px;
}

.margins {
    margin-bottom: 16px;
}

/* Скрываем стандартный ползунок */
.custom-range::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    /* ширина вашего собственного бегунка */
    height: 20px;
    /* высота вашего собственного бегунка */
    background: #fff;
    border: 4px solid #000;
    border-radius: 50%;
    cursor: pointer;
    margin-top: -8px;
}

.custom-range::-moz-range-thumb {
    width: auto;
    height: 8px;
    background-color: #7B7B7B;
    border-radius: 50%;
    cursor: pointer;
}

/* Пример добавления стилей для всего элемента range */
.custom-range {
    width: 100%;
    /* Ширина всего элемента range */
    height: 8px;
    /* Высота дорожки */
    -webkit-appearance: none;
    appearance: none;
    border-radius: 99px;
    background: #7B7B7B;
    outline: none;
    border: none;
    position: relative;
}

/* Пример добавления стиля для полосы прогресса */
.custom-range::-webkit-slider-runnable-track {
    width: 100%;
    height: 4px;
    border-radius: 99px;
    background: rgba(44, 51, 51, 0.05);
}

#range1 {
    margin-bottom: 28px;
}

#range2 {
    margin-bottom: 25px;
}

#range3 {
    margin-bottom: 28px;
}

#range4 {
    margin-bottom: 25px;
}

.calculator__column form button {
    border-radius: 8px;
    background: linear-gradient(94deg, #FFDA2C -0.17%, #F4AD23 99.83%);
    padding: 14px 54px;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: #1B1B1B;
    font-size: 18px;
    font-weight: 600;
    line-height: 150%;
    text-transform: uppercase;
}

.products__accordion {
    width: 100%;
}

.gradient__calc {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.position {
    color: #E00000;
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    text-align: center;
}

/*---------------------------------------------------------------*/


/* Кредитні продукти */
.products {
    padding: 112px 64px;
}

.products .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 80px;
}

.products__box {
    display: flex;
    width: 1279px;
    align-items: flex-start;
    gap: 18px;
}

.products__container {
    display: flex;
    padding: 40px;
    padding-bottom: 23px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    flex: 1 0 0;
    border-radius: 20px;
    background: #FFF;
    box-sizing: border-box;
}

.products__container h3 {
    color: #1B1B1B;
    font-size: 40px;
    font-weight: 700;
    line-height: 120%;
    margin-bottom: 24px;
}

.products__download {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    width: 100%;
    margin-bottom: 24px;
}

.products__download a {
    color: #1B1B1B;
    font-size: 18px;
    font-weight: 500;
    line-height: 150%;
    padding: 14px 34px;
    gap: 8px;
    border-radius: 8px;
    background: #F5F5F5;
    width: 100%;
    text-align: left;
}

.products__accordion-heading {
    font-size: 18px;
    font-weight: 500;
    line-height: 150%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 24px 0;
    border-top: 1px solid #7B7B7B;
    width: 100%;
    cursor: pointer;
}

.products__accordion-heading::after {
    content: "";
    background: url(../img/arrow.svg);
    background-repeat: no-repeat;
    background-size: contain;
    width: 24px;
    height: 24px;
    transition: all 0.5s;
}

.products__accordion-heading.active::after {
    transform: rotate(180deg);
    transition: all 0.5s;
}

.products__accordion-contents {
    display: flex;
    padding: 20px 13px 0px 20px;
    align-items: flex-start;
    border-radius: 10px;
    border: 1px solid #7B7B7B;
    height: 232px;
    overflow: hidden;
    margin-bottom: 16px;
}

.products__accordion-scroll {
    height: 100%;
    overflow: scroll;
    font-family: 'Roboto-Regular';
    padding-right: 22px;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
}

/*---------------------------------------------------------------*/


/* Питання та відповіді */
.questions {
    padding: 112px 64px;
    position: relative;
}

.questions .wrapper {
    display: flex;
    gap: 80px;
    position: relative;
    z-index: 3;
}

.questions__left {
    display: flex;
    width: 500px;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
    flex-shrink: 0;
}

.questions__right {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex: 1 0 0;
}

.questions__left .tittle {
    font-size: 48px;
    font-weight: 700;
    line-height: 120%;
}

.questions__heading {
    padding: 35.5px 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 18px;
    font-family: 'Inter-Bold', sans-serif;
    font-weight: 700;
    line-height: 150%;
    cursor: pointer;
}

.questions__contents {
    padding: 0 24px 24px 24px;
    font-size: 18px;
    font-family: 'Inter-Regular', sans-serif;
    font-weight: 400;
    line-height: 150%;
}

.questions__accardion .questions__heading:nth-of-type(1) {
    border-top: 1px solid #7B7B7B;
}

.questions__accardion {
    width: 100%;
}

.questions__heading::after {
    content: "";
    background: url(../img/Plus.svg);
    background-repeat: no-repeat;
    background-size: contain;
    width: 32px;
    height: 32px;
    transition: all 0.5s;
}

.questions__heading.active::after {
    transform: rotate(45deg);
    transition: all 0.5s;
}

.gradient2 {
    position: absolute;
    width: 100%;
    height: 100%;
    top: -40%;
    right: -35%;
    filter: blur(125px);
}

.gradient {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: -17%;
    filter: blur(125px);
}

/*---------------------------------------------------------------*/


/* Що робить нас найкращим сервісом з оформлення кредиту онлайн на картку? */
.theBest {
    padding: 112px 64px;
}

.theBest .wrapper {
    display: flex;
    padding: 40px 40px 20px 40px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 32px;
    flex: 1 0 0;
    border-radius: 20px;
    background: #FFF;
    height: 614px;
    overflow: hidden;
}

.theBest__scroll {
    height: 100%;
    overflow: scroll;
    padding-right: 40px;
}

.theBest__scroll h2 {
    margin-bottom: 24px;
}

.theBest__scroll p {
    font-family: 'Roboto-Regular';
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
    margin-bottom: 24px;
}

.theBest__scroll span {
    display: flex;
    padding: 14px 34px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 8px;
    background: #F5F5F5;
    color: #1B1B1B;
    font-size: 18px;
    font-weight: 500;
    line-height: 150%;
    margin-bottom: 8px;
    width: max-content;
}

/*---------------------------------------------------------------*/


/* Подвал сайта */
.footer {
    padding: 80px 64px;
    background: #FFF;
    position: relative;
}

.label__agency {
    position: absolute;
    right: 0;
    bottom: 0;
}

.footer .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.footer__top {
    display: flex;
    align-items: flex-start;
    gap: 60px;
    flex: 1 0 0;
    padding-bottom: 0px;
}

.footer__logo {
    display: flex;
    width: 163px;
    flex-direction: column;
    align-items: flex-start;
}

.footer__navigation {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex: 1 0 0;
}

.footer__contact {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex: 1 0 0;
}

.footer__address {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex: 1 0 0;
}

.footer__bottom {
    width: 100%;
    display: flex;
    align-items: flex-start;
    gap: 32px;
    padding-top: 32px;
    border-top: 1px solid #1B1B1B;
}

.footer__social {
    display: flex;
    align-items: flex-start;
    gap: 12px;
    margin-left: auto;
}

.footer__privacy {
    display: flex;
    align-items: center;
    gap: 24px;
}

.footer__social li {
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer__navigation li {
    padding: 8px 0;
}

.footer__navigation li a {
    color: #1B1B1B;
    font-family: 'Roboto-Regular';
    font-size: 14px;
    font-weight: 400;
    line-height: 150%;
}

.footer__contact h4 {
    color: #1B1B1B;
    font-family: 'Inter-SemiBold';
    font-size: 16px;
    font-weight: 600;
    line-height: 150%;
    margin-bottom: 24px;
}

.footer__contact address {
    display: flex;
    flex-direction: column;
    gap: 4px;
    margin-bottom: 24px;
}

.footer__contact address a {
    color: #1B1B1B;
    font-family: 'Inter-Regular';
    font-size: 14px;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: -0.154px;
}

.footer__contact address a:nth-of-type(1) {
    color: #F90;
    font-family: 'Inter-Bold';
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
    letter-spacing: normal;
}

.footer__contact p {
    color: #1B1B1B;
    font-family: 'Inter-Regular';
    font-size: 14px;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: -0.154px;
}

.footer__address h4 {
    color: #1B1B1B;
    font-family: 'Inter-SemiBold';
    font-size: 16px;
    font-weight: 600;
    line-height: 150%;
    margin-bottom: 24px;
}

.footer__address p {
    color: #1B1B1B;
    font-family: 'Roboto-Regular';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    padding: 8px 0;
}

.footer__address address {
    color: #1B1B1B;
    font-family: 'Roboto-Regular';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    padding: 8px 0;
}

.footer__copyright {
    color: #1B1B1B;
    font-family: 'Roboto-Regular';
    font-size: 14px;
    font-weight: 400;
    line-height: 150%;
}

.footer__privacy li a {
    color: #1B1B1B;
    font-family: 'Roboto-Regular';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    text-decoration-line: underline;
}

/*---------------------------------------------------------------*/








/* Адаптация */
@media (max-width: 1279px) {
    .header {
        padding: 16px 32px;
        height: auto;
    }

    .header__wrapper>a {
        height: 48px;
    }

    .header__wrapper>a img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .header__wrapper>nav {
        display: none;
    }

    .header__wrapper>.header__btn {
        display: none;
    }

    .burger-icon {
        display: flex;
        width: 48px;
        height: 48px;
        align-items: center;
        justify-content: center;
        padding: 0;
    }

    .hero {
        padding: 191px 32px 112px 32px;
    }

    .hero .wrapper {
        display: flex;
        align-items: center;
        align-content: center;
        gap: 48px;
        flex: 1 0 0;
        flex-wrap: wrap;
    }

    .hero__tittle {
        display: flex;
        min-width: 256px;
        flex-direction: column;
        align-items: flex-start;
        flex: 1 0 0;
        width: 100%;
        max-width: 100%;
    }

    .hero__img {
        width: 256px;
        height: 230px;
    }

    .hero__img figure {
        width: 256px;
        height: 230px;
        background: url(../img/mobile.png);
        background-repeat: no-repeat;
        background-size: cover;
    }

    .hero__img figure img {
        display: none;
    }

    .hero__money {
        display: none;
    }

    .hero__tittle h1 {
        font-size: 32px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        margin-bottom: 24px;
    }

    .hero__tittle p {
        font-size: 22px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin-bottom: 48px;
    }

    .hero__btn {
        padding: 14px 54px;
        max-width: 256px;
        width: 100%;
    }

    .get {
        padding: 64px 32px;
    }

    .tittle {
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        text-align: center;
    }

    .get .wrapper {
        gap: 49px;
    }

    .get__box article {
        min-height: 100%;
        display: flex;
        min-width: 256px;
        padding: 32px 24px;
        flex-direction: column;
        align-items: center;
        gap: 24px;
        flex: 1 0 0;
    }

    .get__box article h3 {
        font-size: 17px;
        font-style: normal;
        font-weight: 600;
        line-height: 130%;
    }

    .get__box {
        align-items: normal;
    }

    .get__box article figure {
        width: 208px;
        height: 208px;
    }

    .get__box article figure img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }

    .calculator {
        padding: 64px 32px;
    }

    .calculator .wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 48px;
        align-self: stretch;
    }

    .calculator__box {
        border-radius: 10px;
        width: 100%;
    }

    .calculator__tab {
        font-size: 8px;
        font-style: normal;
        font-weight: 400;
        line-height: 120%;
        text-transform: uppercase;
        height: 68px;
    }

    .calculator__tab span {
        font-size: 12px;
        font-style: normal;
        font-weight: 700;
        line-height: 120%;
        text-align: center;
    }

    .calculator__content {
        padding: 20px 10px;
        justify-content: center;
        align-items: flex-start;
        align-content: flex-start;
        gap: 22px;
        align-self: stretch;
        flex-wrap: wrap;
    }

    .calculator__column form {
        display: flex;
        width: 236px;
        min-width: 216px;
        padding: 20px 10px;
        height: 100%;
        flex-direction: column;
        align-items: flex-start;
    }

    .calculator__column:nth-of-type(1) .calculator__container {
        display: flex;
        width: 236px;
        min-width: 236px;
        padding: 20px 10px;
        flex-direction: column;
        align-items: flex-start;
    }

    .calculator__column {
        flex-direction: row;
        gap: 21px 10px;
    }

    .calculator__column:nth-of-type(1) {
        width: auto;
        justify-content: space-between;
    }

    .calculator__column:nth-of-type(2) {
        flex-direction: column;
        flex: 1;
    }

    .calculator__containers {
        display: flex;
        gap: 22px;
    }

    .calculator__column form span {
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: 120%;
        margin-bottom: 3px;
    }

    .calculator__column form label {
        margin-bottom: 5px;
    }

    /* Скрываем стандартный ползунок */
    .custom-range::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        width: 12px;
        /* ширина вашего собственного бегунка */
        height: 12px;
        /* высота вашего собственного бегунка */
        background: #fff;
        border: 2px solid #000;
        border-radius: 50%;
        cursor: pointer;
        margin-top: -4px;
    }

    .custom-range::-moz-range-thumb {
        width: auto;
        height: 4px;
        background-color: #7B7B7B;
        border-radius: 50%;
        cursor: pointer;
    }

    /* Пример добавления стилей для всего элемента range */
    .custom-range {
        width: 100%;
        /* Ширина всего элемента range */
        height: 4px;
        /* Высота дорожки */
        -webkit-appearance: none;
        appearance: none;
        border-radius: 99px;
        background: #7B7B7B;
        outline: none;
        border: none;
        position: relative;
    }

    /* Пример добавления стиля для полосы прогресса */
    .custom-range::-webkit-slider-runnable-track {
        width: 100%;
        height: 4px;
        border-radius: 99px;
        background: rgba(44, 51, 51, 0.05);
    }

    #range1 {
        margin-bottom: 21px;
    }

    #range2 {
        margin-bottom: 37px;
    }

    #range3 {
        margin-bottom: 21px;
    }

    #range4 {
        margin-bottom: 37px;
    }


    .calculator__column h3 {
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        text-transform: uppercase;
    }

    .calculator__container p {
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 120%;
        margin-bottom: 4px;
    }

    .calculator__container span {
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: 120%;
    }

    .calculator__container p.calculator__container-text {
        font-size: 12px;
        font-style: italic;
        font-weight: 400;
        line-height: 120%;
    }

    .calculator__container {
        display: flex;
        padding: 20px 10px;
        flex-direction: column;
        align-items: flex-start;
        align-self: stretch;
    }

    .calculator__row {
        width: 100%;
        margin-bottom: 11px;
        flex-wrap: wrap;
    }

    .products {
        padding: 57px 32px 63px 32px;
    }

    .products .wrapper {
        gap: 48px;
    }

    .products__box {
        width: 100%;
        flex-wrap: wrap;
    }

    .products__container {
        border-radius: 20px;
        background: var(--White-100, #FFF);
        min-width: 256px;
        padding: 20px;
        padding-bottom: 3px;
        position: relative;
        z-index: 3;
    }

    .products__container h3 {
        font-size: 20px;
        font-weight: 700;
        line-height: 120%;
    }

    .products__download a {
        padding: 14px;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 150%;
    }

    .products__accordion-heading {
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 150%;
    }

    .products__accordion-scroll {
        font-size: 14px;
        font-weight: 400;
        line-height: 150%;
    }

    .products__accordion-contents {
        height: 187px;
    }

    .questions {
        padding: 64px 32px;
    }

    .questions .wrapper {
        display: flex;
        align-items: flex-start;
        align-content: flex-start;
        gap: 18px;
        align-self: stretch;
        flex-wrap: wrap;
    }

    .questions__left {
        display: flex;
        min-width: 256px;
        flex-direction: column;
        align-items: flex-start;
        gap: 32px;
        width: 256px;
    }

    .questions__left .tittle {
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: 120%;
    }

    .questions__left figure {
        width: 256px;
        height: 318.724px;
    }

    .questions__right {
        display: flex;
        min-width: 256px;
        flex-direction: column;
        align-items: flex-start;
        gap: 8px;
        flex: 1 0 0;
        width: calc(100% - 274px);
    }

    .questions__heading {
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: 150%;
        padding: 23.5px 24px;
    }

    .questions__contents {
        font-size: 16px;
        font-style: normal;
    }

    .theBest {
        padding: 70px 32px 64px 32px;
    }

    .theBest .wrapper {
        display: flex;
        padding: 20px;
        align-items: center;
        height: 177px;
    }

    .theBest__scroll p {
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%;
    }

    .theBest__scroll {
        height: 100%;
        overflow-y: scroll;
        overflow-x: hidden;
        padding-right: 19px;
        box-sizing: border-box;
        padding-left: 0;
        width: 100%;
    }

    .footer {
        padding: 64px 32px 69px 32px;
    }

    .footer__top {
        gap: 38px;
        flex-wrap: wrap;
        margin-bottom: 13px;
    }

    .footer__logo {
        width: 100%;
    }

    .footer__navigation {
        width: 100%;
        flex: auto;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 0px 36px;
    }

    .footer__contact {
        padding-top: 24px;
    }

    .footer__address {
        padding-top: 24px;
    }

    .footer__contact h4 {
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: 150%;
    }

    .footer__contact address a {
        font-size: 12px !important;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: -0.132px;
    }

    .footer__address h4 {
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: 150%;
        margin-bottom: 8px;
    }

    .footer__contact p {
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%;
        letter-spacing: -0.132px;
    }

    .footer__address p {
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%;
        padding: 6px 0;
    }

    .footer__address address {
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%;
    }

    .footer__bottom {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 12px;
    }

    .footer__copyright {
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 130%;
    }

    .footer__privacy li a {
        font-size: 10px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%;
        text-decoration-line: underline;
    }

    .footer__social {
        margin-left: 0;
    }

    .position {
        position: static;
        transform: none;
    }
}

@media (max-width: 768px) {
    .products__accordion-contents {
        height: 334px;
    }

    .theBest .wrapper {
        height: 240px;
    }
}

@media (max-width: 576px) {
    .calculator__column:nth-of-type(1) {
        width: 100%;
        flex-wrap: wrap;
    }

    .get__box article:nth-of-type(2) {
        padding-bottom: 10px;
    }

    .calculator__row p {
        width: 100%;
        margin-bottom: 11px;
    }

    .calculator__column:nth-of-type(1) .calculator__container {
        padding-bottom: 10px;
    }

    .calculator__container p.calculator__container-bottom {
        font-size: 12px;
        font-style: italic;
        font-weight: 400;
        line-height: 120%;
    }

    .products__accordion-contents {
        height: 502px;
    }

    .products__accordion-heading {
        padding: 22px 0;
    }

    .questions__heading::after {
        margin-left: 5%;
    }

    .theBest .wrapper {
        height: 734px;
    }

    .theBest__scroll h2 {
        text-align: left;
    }

    .footer__navigation {
        flex-direction: column;
    }

    .footer__contact {
        width: 100%;
        flex: auto;
    }

    .footer__address {
        padding-top: 0;
    }

    .footer__privacy {
        gap: 12px;
    }

    .footer__top {
        gap: 34px;
        margin-bottom: 0;
    }

    .calculator__column form {
        width: 100%;
    }

    .calculator__column:nth-of-type(1) .calculator__container {
        width: 100%;
    }

    .position {
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 120%;
        width: 100%;
    }

    .hero .wrapper {
        justify-content: center;
    }

    .moving-gradient {
        display: none;
    }

    .moving-gradien2 {
        display: none;
    }

    .gradient__calc {
        width: 100%;
        height: 100%;
        top: 50%;
        left: 50%;
    }
}

/*---------------------------------------------------------------*/